ul {
    padding: 0;
}
li {
    list-style: none;
}
.div3 {
    text-align: center;
    width: 200px;
    height: 100px;
    background: goldenrod;
    margin: 10px;
}
.div5 {
    text-align: center;
    width: 200px;
    height: 100px;
    background: rgb(160, 137, 79);
    margin: 10px;
}
.inp-color {
    width: 100px;
}
.div-color {
    background-color: bisque;
}
.task7 {
    background-color: rgb(247, 229, 208);
}
.inp-log {
    margin: 10px;
    width: 100px;
}
.task8 {
    background-color: rgb(247, 229, 208);
}