.block-form {
    width: 300px;
    height: 80px;
    display: grid;
    grid-template: repeat(3, 30px) / repeat(2, 150px);
    justify-items: center;
}
#go {
    grid-row: 1/2;
    grid-column: 1/3;
}
#stop {
    grid-row: 3/4;
    grid-column: 1/3;
}
.btn {
    width: 150px;
}