.calculate {
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.calculate > h3 {
    text-align: center;
}
#display {
    min-width: 100px;
    height: 20px;
    padding: 0.5rem 0;
    font-size: 1.2rem;
    color: black;
    border: 2px solid black;
    text-align: center;
    background: rgb(103, 209, 209);
}
#btn-start:hover {
    cursor: pointer;
    background-color: rgb(236, 172, 172);
}