*,
*::before,
*::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--black);
}
ul, li {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
    --font-OS: 'Open Sans', sans-serif;
    --font-OW: 'Oswald', sans-serif;
    --title-color: #001F3D;
    --tomato: #e08d98;
    --black: #000000;
    --white: white;
    --bg-gray: #F1F1F1;
}
/* Navigation */
.nav-link {
    font-family: var(--font-OS);
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
    color: #333333;
}
.navbar-nav {
    width: 48rem;
    display: flex;
    justify-content: space-between;
}
.header-search {
    outline: 2.0px solid #A04955;
    font-size: 1.5rem;
    width: 27rem;
    padding: 1rem 0;
    padding-left: 6rem;
    border-radius: 50px;
    align-self: center;
}
.button-search {
    position: relative;
}
.button-search::before {
    content: url("../images/icons/search.png");
    position: absolute;
    top: 20%;
    left: 8%;
    z-index: 2;
    cursor: pointer;
}
.header-search:focus {
    outline: 3px solid #A04955;
}
/* Banner */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 2rem;
}
.banner > div {
    width: 50%;
}
.banner .banner-info-title {
    font-family: var(--font-OS);
    color: var(--title-color);
    font-size: 6.5rem;
    font-weight: 700
}
.banner .banner-info-subtitle {
    font-family: var(--font-OS);
    font-size: 2.4rem;
    font-weight: 300;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
.banner-btn {
    width: 24rem;
    padding: 1rem 0;
    display: inline-block;
    border: 1px solid var(--black);
    text-align: center;
    box-sizing: border-box;
    font-weight: 300;
    font-family: var(--font-OS);
    font-size: 2.4rem;
}
.banner-btn:hover {
    background-color: #e08d98;
    outline: 2px solid var(--black);
    color: var(--black);
}
.banner-img img {
    width: 100%;
}
/* Section collection */
.collection {
    background-color: #F1F1F1;
}
.collection-title {
    font-family: var(--font-OW);
    font-weight: 500;
    font-size: 3.6rem;
    text-align: center;
    padding: 8rem 0;
}
.collection-title > :last-child {
    font-size: 6.4rem;
}
.cards {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
}
.card {
    width: 20%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 48rem;
    justify-content: space-around;
    font-weight: 500;
    text-align: center;
    margin-bottom: 8rem;
}
.card > img {
    width: 58%;
}
.card-title {
    font-size: 2.4rem;
    width: 60%;
    height: 20%;
}
.card > p {
    font-weight: 200;
    font-size: 1.8rem;
}
.card > p > span {
    font-weight: 500;
}
.btn-card a {
    display: inline-block;
    background-color: var(--tomato);
    color: var(--white);
    font-weight: 400;
    font-size: 1.8rem;
    padding: 1rem;
}
.btn-card a::before {
    content: url("../images/icons/cart.svg");
}
.btn-card a:hover {
    background-color: #d86c7b;
    outline: 2.0px solid #A04955;
}
/* Section bestselling pants */
.bestselling-pants > div {
    width: 48%;
}
/* Section Shirts */
.shirts {
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.columns-shirts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem 2rem;
}
.column {
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column img {
    width: 100%;
}
.img-title {
    position: relative;
}
.column-title {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8rem;
    background-color: #A04955;
    opacity: 0.8;
    font-family: var(--font-OW);
    font-size: 3.6rem;
    font-weight: 500;
    color: var(--white);
}
.column-subtitle {
    font-family: var(--font-OS);
    font-size: 2.4rem;
    font-weight: 300;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
.btn-column {
    width: 37rem;
}
.arrow-stycky {
    position: fixed;
    bottom: 5%;
    right: 3%;
    z-index: 3;
    cursor: pointer;
}
/* Section sportif pants */
.pants {
    background: url("../images/background.png");
    width: 100%;
    background-size: cover;
}
.pants-content {
    padding: 8% 2% 8% 8%;
    width: 60%;
}
.pants-title {
    font-family: var(--font-OS);
    color: var(--white);
    font-size: 6.5rem;
    font-weight: 700
}
.pants-subtitle {
    font-family: var(--font-OS);
    font-size: 2.4rem;
    font-weight: 300;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    color: var(--white);
}
.pants-btn {
    width: 40rem;
    background-color: #d86c7b;
}
/* Section Stay in Trend */
.btn-card-trend a {
    width: 24rem;
    display: inline-block;
    text-align: center;
    background-color: var(--tomato);
    color: var(--white);
    font-weight: 400;
    font-size: 1.8rem;
    padding: 1rem;
}
.btn-card-trend a:hover {
    background-color: #d86c7b;
    outline: 2.0px solid #A04955;
}
.stay-trend {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 4rem;
    position: relative;
}
.trend-title {
    width: 100%;
    height: 34rem;
    background: #A04955;
    display: flex;
    justify-content: center;
    padding: 3rem;
}
.trend-cards {
    position: absolute;
    top: 50%;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
}
.trend-card {
    width: 31rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    border: 1px solid #A04955;
}
.trend-card img {
    width: 74%;
}
/* Section Family */
.family {
    margin: 23rem 2rem 8rem 2rem;
    display: flex;
    justify-content: center;
    position: relative;
}
.family-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.family-image {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(transparent 50%, var(--bg-gray) 50%);
}
.family-text {
    width: 100%;
    background-color: var(--bg-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}
.black-title, .black-subtitle {
        color: var(--black);
}
/* Section Homepage */
.homepage-wrapper {
    display: flex;
    justify-content: center;
    background: #A04955;
}
.homepage-content {
    width: 90%;
    margin: 8rem 2rem;
    display: flex;
    justify-content: space-between;
}
.homepage-content  a {
    text-decoration: none;
    color: var(--white);
}
.font-homepage {
    font-family: var(--font-OW);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 180%;
    color: var(--white);
}
.title-homepage {
    font-weight: 600;
    font-size: 2.4rem;
}
.form-homepage {
    margin-top: 3.6rem;
    position: relative;
}
.form-homepage input {
    width: 70%;
    height: 6rem;
    background: #F3F3F3;
}
.form-homepage button {
    position: absolute;
    bottom: .8rem;
    left: 42%;
    width: 26%;
    height: 4.4rem;
    background: #A04955;
    color: var(--white);
}
.form-homepage button:hover {
    background-color: #d86c7b;
}
/* FOOTER */
.footer-wrapper {
    display: flex;
    justify-content: center;
}
.footer-content {
    width: 90%;
    margin: 2rem 0;
    font-family: var(--font-OW);
    font-weight: 400;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
}
/* CATALOG */
/* Section Search */
.wrapper-searh {
    width: 90%;
    margin: 0 auto;
}
.searh-content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 7rem 0 3rem 0;
}
.link-home {
    width: 29%;
    display: flex;
    align-items: center;
}
.link-home a::before {
    content: url("../catalogShorts/images/icons/img-home.png");
    margin: 0 .5rem;
}
.link-home a::after {
    content: url("../catalogShorts/images/icons/img-vector.png");
    margin: 0 .5rem;
}
.catalog-inp-search {
    font-size: 2.4rem;
    font-weight: 400;
    width: 69%;
    height: 6rem;
    border: none;
    border-bottom: 2px solid #C4C4C4;
    outline: none;
}
.catalog-inp-search::placeholder {
    font-size: 5rem;
    color: #C4C4C4;
}
.searh-content div {
    font-family: var(--font-OW);
    font-size: 2.2rem;
    font-weight: 400;
}
/* Section Catalog */
.wrapper-catalog {
    background: #E5E5E5;
    display: flex;
    justify-content: center;
}
.content-catalog {
    width: 90%;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.filters {
    width: 29%;
    height: 40%;
    background-color: var(--white);
}
.size, .color {
    font-family: var(--font-OW);
    font-weight: 400;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    width: 92%;
    border-bottom:2px solid #A04955;
    margin: 2rem auto;
}
.number-size {
    display: flex;
    flex-wrap: wrap;
}
.number-size div {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: var(--bg-gray);
    text-align: center;
    margin: 6px 9px 6px 0;
    border: 1px solid #BCBCCC;
}
.catalog {
    width: 70%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}
/* JS elements */
.card {
    width: 29%;
    height: 50rem;
    background-color: var(--white);
    margin: 0 1rem 2rem 0;
    /* flex-grow: 1; */
}
.wrapper-pagination {
    background: #E5E5E5;
    display: flex;
    justify-content: center;
}
.paginat {
    width: 90%;
    display: flex;
    justify-content: end;
    padding: 0 1rem 1rem 0;
}
.numb-page {
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--bg-gray);
    border: 1px solid var(--tomato);
    text-align: center;
    margin-left: 1rem;
}
.numb-page:hover {
    background-color: var(--tomato);
}
.numb-page {
    font-family: var(--font-OW);
    font-weight: 400;
    font-size: 2rem;
    color: var(--tomato);
}
.numb-page:hover {
    color: var(--white);
}
.numb-page img {
    cursor: pointer;
}
.active {
    background-color: var(--tomato);
    color: var(--white); 
}
.title-shorts {
    font-family: var(--font-OW);
    font-weight: 400;
    font-size: 2rem;
    color: var(--black);
}
.img-star {
    cursor: pointer;
}
.stars svg path:hover {
    cursor: pointer;
    fill: #A04955;
}